chardet==3.0.4
cython==0.29.21
dbus-python==1.2.16
idna==2.8
imutils==0.5.4
jupyter==1.0.0
opencv-python==4.5.5.64
parse==1.19.0
pygobject==3.36.0
pylint==2.9.0
python-apt==2.0.0+ubuntu0.20.4.6
pyyaml==5.3.1
requests-unixsocket==0.2.0
scikit-image==0.19.2
scikit-learn==0.23.2
seaborn==0.10.1
tensorflow==2.8.0
theano==1.0.5
torch==1.6.0
tqdm==4.48.2
urllib3==1.25.8